ftfy
regex
tqdm
addict
torchattacks
git+https://github.com/fra31/auto-attack
torch==2.0.1+cu118 --extra-index-url https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.0.2+cu118 --extra-index-url https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.2+cu118 --extra-index-url https://download.pytorch.org/whl/torch_stable.html

